/*this include all override css for default vendor css*/
/* OVERRIDE CSS FOR BX SLIDER*/
.bx-wrapper {
    .bx-next {
        background: url(../images/d03.png) -63px -33px no-repeat !important;
    }
    .bx-prev {
        background: url(../images/d03.png) -3px -33px no-repeat !important;
    }

    .bx-controls-direction {
        a {
            top: 35%;
            width: 55px;
            height: 55px;
        }
    }
}

/* TOOLTIPTSER CSS*/
.tooltipster-base{
    pointer-events:all;
}
