//colors
$color_fuchsia_pink_approx: #de4fcc;
$color_elephant_approx: #103e4b;
$gallery: #efefef;
$color_rangoon_green_approx: #191718;
$black: #000;
$color_mountain_mist_approx: #999;
$white: #fff;
$color_tarawera_approx: #103f4b;
$color_carnation_approx: #f25757;
$color_log_cabin_approx: #222;
$color_elephant_75_approx: rgba(16,62,75,.75);
$color_wild_sand_approx: #f5f5f5;
$color_pacific_blue_approx: #09c;
$color_puerto_rico_approx: #40c8b6;
$color_casablanca_approx: #f2b657;
$color_atlantis_approx: #7ce835;
$color_amethyst_approx: #9e4ae6;
$color_blush_pink_approx: #ff6bec;
$color_jordy_blue_approx: #78b3fc;
$color_yellow_orange_approx: #ffab48;
$color_laser_approx: #c3aa6e;
$color_celeste_approx: #ccc;
$color_storm_dust_approx: #666;
$color_thunderbird_approx: #d41b1b;
$color_clementine_approx: #f06d00;
$black_75: rgba(0,0,0,.75);
$color_blue_dianne_approx: #18434e;
$color_supernova_approx: #fc0;
$color_razzmatazz_approx: #f80c54;
$science_blue: #06c;
$color_persian_green_approx: #0bb1a7;
$color_ronchi_approx: #efc83f;
$color_cerulean_approx: #00a3d8;
$mercury: #e5e5e5;
$color_allports_approx: #0b7395;
$color_mine_shaft_approx: #333;
$color_gallery_approx: #eee;
$color_california_approx: #f90;
$alto: #dbdbdb;
$color_chicago_approx: #5f5f5f;
$color_concord_approx: #7c7c7c;
$color_quill_gray_approx: #d5d5d5;
$color_nile_blue_approx: #15414d;
$color_deep_teal_approx: #033;
$color_gray_nurse_approx: #e9e9e9;
$color_dodger_blue_approx: #1687f0;
$color_bright_red_approx: #a00000;
$blaze_orange: #f60;
$color_alto_approx: #ddd;
$color_mandy_approx: #ea5757;
$color_blue_marguerite_approx: #7562d5;
$color_fuscous_gray_approx: #525252;
$yellow: #ff0;
$color_azure_radiance_approx: #0094ff;
$seashell: #f1f1f1;
$alabaster: #fafafa;
$color_tapa_approx: #767676;
$color_boston_blue_approx: #428bca;
$color_silver_chalice_approx: #aaa;

//fonts
$font_0: Glyphicons Halflings;
$font_1: utmbebas;
$font_2: Arial;
$font_3: arial;
$font_4: Utmbebas;
$font_5: utmBebas;
$font_6: Helvetica;
$font_7: Tahoma;
$font_8: HelveticaBold;

//urls
$url_0: url(../fonts/glyphicons-halflings-regular.eot);
$url_1: url(../fonts/glyphicons-halflings-regular.eot?#iefix);
$url_2: url(../fonts/glyphicons-halflings-regular.woff2);
$url_3: url(../fonts/glyphicons-halflings-regular.woff);
$url_4: url(../fonts/glyphicons-halflings-regular.ttf);
$url_5: url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular);
$url_6: url(../Images/sprites.png);
$url_7: url(../fonts/UTM%20Bebas.ttf);
$url_8: url(../Images/bg.jpg);

//@extend-elements
//original selectors
//header .menu_ngang #small_menu_ngang li span.left_menu, header .menu_ngang #small_menu_ngang li span.right_menu
%extend_1 {
    width: 13px;
    background: $color_rangoon_green_approx;
    height: 38px;
    float: left;
}

//original selectors
//header .menu_ngang #small_menu_ngang li.active span.left_menu, header .menu_ngang #small_menu_ngang li:hover span.left_menu
%extend_2 {
    background: $url_6 -42px -163px no-repeat;
    float: left;
    width: 13px;
    height: 38px;
}

//original selectors
//header .menu_ngang #small_menu_ngang li.active span.right_menu, header .menu_ngang #small_menu_ngang li:hover span.right_menu
%extend_3 {
    background: $url_6 -23px -202px no-repeat;
    float: left;
    width: 13px;
    height: 38px;
}

//original selectors
//#wrapper_listchap .title .luotview, #wrapper_listchap .title .ngaydang, #wrapper_listchap .title .tenChapter
%extend_4 {
    color: $color_allports_approx !important;
    font: 700 16px Arial !important;
    padding: 15px 10px;
}

//original selectors
//.form-horizontal input[type=checkbox], .form-horizontal input[type=radio]
%extend_5 {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 10px 5px 0 0;
}


@font-face {
    font-family: $font_0;
    src: $url_0;
    src: $url_1 format('embedded-opentype'), $url_2 format('woff2'), $url_3 format('woff'), $url_4 format('truetype'), $url_5 format('svg');
}

.bg {
    background: $url_6 no-repeat;
}

.btn_napvip {
    width: 105px;
    height: 30px;
    background-position: -121px 0;
}

.facebook {
    width: 140px;
    height: 41px;
    background-position: -124px -31px;
}

.fb {
    width: 34px;
    height: 34px;
    background-position: -87px -74px;
}

.gplus {
    width: 33px;
    height: 34px;
    background-position: -87px 0;
}

.icon_add {
    width: 21px;
    height: 21px;
    background-position: -155px -119px;
}

.icon_botheodoi {
    width: 93px;
    height: 22px;
    background-position: -157px -73px;
}

.icon_nhomdich {
    width: 21px;
    height: 21px;
    background-position: -177px -119px;
}

.icon_tacgia {
    width: 21px;
    height: 21px;
    background-position: -224px -119px;
}

.icon_theloai {
    width: 21px;
    height: 21px;
    background-position: 0 -163px;
}

.icon_theodoi {
    width: 93px;
    height: 22px;
    background-position: -157px -96px;
}

.icon_trangthai {
    width: 21px;
    height: 21px;
    background-position: 0 -185px;
}

.left_bar {
    width: 36px;
    height: 38px;
    background-position: -87px -35px;
}

.leftbar1 {
    width: 36px;
    height: 38px;
    background-position: -81px -109px;
}

.leftbar2 {
    width: 36px;
    height: 38px;
    background-position: -118px -109px;
}

.lefttbar3 {
    width: 36px;
    height: 38px;
    background-position: -20px -124px;
}

.logo {
    width: 213px;
    height: 92px;
    background-position: -57px -148px;
}

.menu_left {
    width: 13px;
    height: 38px;
    background-position: -42px -163px;
}

.menu_right {
    width: 13px;
    height: 38px;
    background-position: -23px -202px;
}

.rightbar1 {
    width: 19px;
    height: 38px;
    background-position: -251px -73px;
}

.rightbar2 {
    width: 19px;
    height: 38px;
    background-position: 0 -123px;
}

.rightbar3 {
    width: 19px;
    height: 38px;
    background-position: -22px -163px;
}

.rightbar {
    width: 19px;
    height: 38px;
    background-position: -37px -202px;
}

.search {
    width: 46px;
    height: 35px;
    background-position: -34px -88px;
}

.star1 {
    width: 23px;
    height: 22px;
    background-position: -57px -124px;
}

.star2 {
    width: 24px;
    height: 22px;
    background-position: -246px -119px;
}

.star15 {
    width: 22px;
    height: 22px;
    background-position: 0 -207px;
}

.thongbao_icon {
    width: 30px;
    height: 30px;
    background-position: -227px 0;
}

.top {
    width: 86px;
    height: 87px;
    background-position: 0 0;
}

.truyentheodoi {
    width: 24px;
    height: 28px;
    background-position: -199px -119px;
}

.twitter {
    width: 34px;
    height: 34px;
    background-position: -122px -74px;
}

.youtube {
    width: 33px;
    height: 34px;
    background-position: 0 -88px;
}

@font-face {
    font-family: $font_1;
    src: $url_7;
}

header {
    height:152px;
    position:relative;

    .header_wrapper {
        width: 1042px;
        margin: 0 auto;
        height: 106px;
    }

    #logo_left {
        width: 213px;
        margin-top: 15px;
        height: 90px;
        padding: 0;

        a {
            display: inline-block;
        }
    }

    #content_right {
        width: 829px;
    }

    .header_bottom {
        height: 63px;
        background: $color_elephant_approx;
        bottom: 46px;
        position: absolute;
        z-index: -1;
    }

    .wrapper_search {
        width: 257px;
        float: right;
        margin: 4px -35px 0 0;

        #txtSearchTruyen {
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 0;
            width: 210px;
        }

        .search {
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 0;
            cursor: pointer;
            border: none;
            height: 34px;
        }
    }

    .height_row1 {
        height: 43px;
    }

    .height_row2 {
        height: 63px;
    }

    .menu_ngang {
        height: 46px;
        background: $color_rangoon_green_approx;
        border-bottom: solid 8px $black;
        padding-bottom: 8px;

        .wrapper_menu_ngang {
            width: 1042px;
            margin: 0 auto;
            overflow: hidden;
            height: 38px;
        }

        #small_menu_ngang li {
            cursor: pointer;

            a {
                height: 38px;
                background: $color_rangoon_green_approx;
                //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: all .3s;
                font: 400 18px $font_1;
                color: $color_mountain_mist_approx;
                float: left;
                padding: 9px 20px;
            }

            span {
                &.left_menu {
                    @extend %extend_1;
                }

                &.right_menu {
                    @extend %extend_1;
                }
            }

            &.active {
                a {
                    background: $black;
                    color: $white;
                }

                span {
                    &.left_menu {
                        @extend %extend_2;
                    }

                    &.right_menu {
                        @extend %extend_3;
                    }
                }
            }

            &:hover {
                a {
                    background: $black;
                    color: $white;
                }

                span {
                    &.left_menu {
                        @extend %extend_2;
                    }

                    &.right_menu {
                        @extend %extend_3;
                    }
                }
            }
        }
    }

    #login-part button#btn_log {
        float: right;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .3s;
        margin: 5px -20px 0 0;
    }

    #big_menu_horizontal ul {
        height: 63px;

        a {
            height: 63px;
            font: 400 26px $font_1;
            padding-top: 13px;
            color: $gallery;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .3s;
            white-space: nowrap;

            &.active {
                background: $color_rangoon_green_approx;
            }

            &:hover {
                background: $color_rangoon_green_approx;
            }
        }
    }
}

#middle {
    background: $color_log_cabin_approx;
    min-height: 800px;
}

#container {
    width: 1042px;
    margin: 5px auto;
    padding: 9px;
    background: $white;
    min-height: 800px;
    position: relative;
}

#wrapper_gallery_and_bxh {
    margin: 0;
}

#gallery_truyenhot {
    padding: 0;
    width: 725px;

    .gallery_row_1 {
        width: 300px;
        float: left;
        margin-right: 1px;
    }

    .gallery_row_2 {
        width: 223px;
        float: left;
        margin-right: 1px;
    }

    .gallery_row_3 {
        width: 200px;
        float: left;
    }

    .item_gallery {
        overflow: hidden;
        position: relative;

        h5 {
            background-color: $color_elephant_75_approx;
            bottom: 0;
            color: $white;
            font: 700 13px $font_2;
            padding: 5px 10px 5px 12px;
            position: absolute;
            margin: 0;
        }
    }

    .item1 {
        width: 300px;
        height: 248px;

        img {
            width: 300px;
            height: 248px;
        }
    }

    .item2 {
        height: 90px;
        margin-top: 1px;

        img {
            width: 300px;
            height: 90px;
        }
    }

    .item3 {
        height: 340px;

        img {
            width: 223px;
            height: 341px;
        }
    }

    .item4 {
        height: 190px;
        margin-bottom: 2px;

        img {
            width: 200px;
            height: 189px;
        }
    }

    .item5 {
        height: 148px;

        img {
            width: 200px;
            height: 148px;
        }
    }

    .itemqc {
        width: 308px !important;
        height: 257px !important;
        margin-top: -8px;
        margin-left: -8px;
    }
}

#wrapper_bxh {
    .item_bxh {
        padding: 10px 10px 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a {
            color: $color_pacific_blue_approx;
            font: 700 13px $font_3;
        }
    }

    .old {
        background: $color_wild_sand_approx;
    }

    .stt {
        color: $white;
        margin-right: 10px;
        padding: 2px 6px;
    }

    .stt1 {
        background: $color_carnation_approx;
    }

    .stt2 {
        background: $color_puerto_rico_approx;
    }

    .stt3 {
        background: $color_casablanca_approx;
    }

    .stt4 {
        background: $color_fuchsia_pink_approx;
    }

    .stt5 {
        background: $color_atlantis_approx;
    }

    .stt6 {
        background: $color_amethyst_approx;
    }

    .stt7 {
        background: $color_blush_pink_approx;
    }

    .stt8 {
        background: $color_jordy_blue_approx;
    }

    .stt9 {
        background: $color_yellow_orange_approx;
    }

    .stt10 {
        background: $color_laser_approx;
    }
}

#wrapper_truyendecu {
    border-bottom: solid 2px $color_celeste_approx;

    .title_truyennendoc {
        height: 32px;
        margin-bottom: 10px;
        margin-top: 20px;
        position: relative;

        .gach {
            background: $color_elephant_approx;
            height: 2px;
            position: absolute;
            top: 15px;
            width: 100%;
            z-index: 1;
        }

        .wrap {
            background: $white;
            color: $color_storm_dust_approx;
            font: 700 18px $font_2;
            padding: 5px 10px 5px 0;
            position: absolute;
            text-transform: uppercase;
            top: -8px;
            z-index: 2;

            h1 {
                font: 400 25px $font_4;
                color: $color_thunderbird_approx;
                margin: 0;
            }
        }
    }
}

.item_truyennendoc {
    float: left;
    width:134px;
    .wrapper_imgage {
        height: 160px;
        overflow: hidden;
        position: relative;
        width: 134px;
        border: 1px solid $color_mountain_mist_approx;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .2s;

        &:hover {
            border: 1px solid $color_clementine_approx;
        }

        img {
            width: 134px;
        }

        h5 {
            background-color: $black_75;
            bottom: 0;
            color: $white;
            font: 400 12px $font_2;
            padding: 5px 10px 5px 12px;
            position: absolute;
            margin: 0;
            width: 100%;
            text-transform: capitalize;

            &:hover {
                color: $yellow;
                text-decoration: none;
            }
        }
    }

    .tentruyen_slide {
        color: $color_blue_dianne_approx;
        font: 700 13px $font_2;
        margin-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            color: $color_fuchsia_pink_approx;
        }
    }
}

.wrapper_truyen_manga {
    margin-top: 10px;
    margin-bottom: 0;

    .hotest_big_image {
        padding: 0;
        margin-top: 25px;
        width: 255px;

        img {
            width: 235px;
            height: 360px;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: $mercury 10px 10px 0;
            border: solid 1px $color_mountain_mist_approx;
        }
    }

    .info_and_hotstory {
        padding-left: 1px;
        position: relative;
        height: 370px;
        margin-top: 35px;

        h2 {
            font: 700 25px $font_2;
            color: $color_allports_approx;
            margin-bottom: 5px;
            margin-top: -10px;
        }

        h3 {
            font: 400 17px $font_2;
            margin-top: 0;
        }

        p.mota {
            text-align: justify;
        }
    }

    .wrapper_list_truyenmoicapnhat .item_truyennendoc {
        margin-left: 15px;
        width: 134px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.title_doctruyen {
    clear: both;

    .centertext {
        height: 38px;
        width: 969px;
        color: $white;
        font: 400 25px $font_5;

        a.link_right {
            float: right;
            color: $white;
            font: 400 13px $font_2;
            margin-right: 10px;
            margin-top: 11px;
            white-space: nowrap;
        }
    }
}

.manga {
    .centertext {
        background: $color_razzmatazz_approx;
        white-space: nowrap;

        a.link_center {
            color: $color_supernova_approx;
        }
    }

    .centertext_right_content {
        background: $color_razzmatazz_approx;
        height: 38px;
        font: 700 20px $font_6;
        padding: 7px;
        color: $white;
        width: 245px;
    }
}

.danhgia_truyen {
    width: 178px;
    height: 22px;
    position: absolute;
    right: 50px;
    top: 0;

    .danhgia {
        float: left;
        margin-top: 3px;
    }

    .lst_danhgia span {
        display: block;
        float: left;
        color:orange;  
        outline:none;
        i{
            font-size:25px;
        }
        .allow-rating{
            cursor:pointer;
        }
    }
}

.wrapper_list_truyenmoicapnhat {
    position: absolute;
    bottom: 0;
}

.gachden {
    background: $color_celeste_approx;
    height: 3px;
    width: 1024px;
    float: left;
    margin: 15px;
}

.wrapper_truyemoicapnhat {
    margin-top: 30px;
    width: 740px;
}

.wrapper_qc {
    width: 300px;
    margin-top: 30px;
    padding: 0;
    float: right;
    margin-right: 14px;
}

.wrapper_qc_right {
    width: 300px;
    height: 600px;
    border: 1px solid $color_celeste_approx;
    text-align: center;
    font: 700 28px $font_2;
    margin: 15px;
    padding: 10px 0 0;

    .google_part_ad {
        margin-top: -8px;
        margin-left: -8px;
        width: 300px;
        overflow: hidden;
        margin-bottom: 15px;
    }
}

.wrapper_info_truyen {
    width: 739px;
    padding-right: 10px;

    #content_truyen {
        .danhgia_truyen_chitiet {
            width: 190px;
            top: 30px;
            right: 2px;

            .diem_danhgia {
                font: 700 17pt $font_2;
                float: right;
            }
        }

        .wrapper_theodoitruyen {
            position: absolute;
            right: 0;
            top: 155px;
        }

        .theodoi_truyen {
            border: none;
        }

        .wrapper_image {
            padding: 0;

            img {
                width: 225px;
                height: 348px;
            }
        }

        .wrapper_info {
            padding: 0;

            /*i {
                display: inline-block;
                position: absolute;
                left: 0;
            }*/

            p {
                padding-left: 30px;
                position: relative;

                &.no_padding {
                    padding-left: 0;
                }

                &.tomtat_truyen {
                    font: 400 13px $font_2;
                    text-align: justify;
                    overflow: hidden;
                    margin-bottom: 0;
                }

                &.gachdotter {
                    border-top: dotted 2px $color_gallery_approx;
                }

                span.xemthem {
                    cursor: pointer;
                }
            }

            h1.tentruyen {
                font: 700 18px $font_7;
                color: $color_elephant_approx;
                margin-top: 5px;
                padding-left:30px;
            }
        }
    }
}

#title_menu_part {
    font: 400 13px $font_2;
    color: $color_mine_shaft_approx;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px $color_gallery_approx;

    a {
        color: $color_mine_shaft_approx;
        margin: 0 5px;
        font: 400 14px $font_2;

        &:first-child {
            margin-left: 0;
        }
    }
}

.qc_content {
    width: 100%;
    overflow: hidden;
}

.text_orange {
    color: $color_california_approx !important;
}

.text_right {
    text-align: right;
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

.info_detailtruyen {
    border: 1px solid $alto;
}

.mgtop10 {
    margin-top: 10px;
}

.title_tab {
    border-bottom: 2px solid $color_allports_approx;

    .active {
        border-bottom: 3px solid $color_allports_approx;
    }

    .tab {
        color: $color_chicago_approx;
        cursor: pointer;
        font: 500 19px $font_7;
        margin: 19px 14px 0 19px;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
}

#wrapper_listchap {
    .row_chap {
        display: table;
        overflow: hidden;
        width: 100%;

        .tenChapter {
            padding: 1% 2%;
            width: 58%;

            a {
                color: $color_allports_approx;
                font: 400 16px $font_6;

                &:visited {
                    color: $color_fuchsia_pink_approx;
                }
            }
        }

        .col_chap {
            display: table-cell;
            text-align: left;
        }

        .ngaydang {
            color: $color_concord_approx;
            font: 400 16px $font_6;
            padding-right: 2%;
            width: 20%;
            text-align: center;
        }

        .luotview {
            color: $color_concord_approx;
            font: 400 16px $font_6;
            text-align: center;
        }
    }

    .title {
        border-bottom: 1px solid $color_quill_gray_approx;
        font: 400 16px $font_8;
        margin-bottom: 10px;

        .luotview {
            @extend %extend_4;
        }

        .ngaydang {
            @extend %extend_4;
        }

        .tenChapter {
            @extend %extend_4;
        }
    }

    .nano {
        max-height: 400px;
        min-height: 400px;
        height: 100%;
        overflow: hidden;

        .content {
            position: absolute;
            overflow: scroll;
            overflow-x: hidden;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

.right_content {
    width: 300px;
    float: left;
    padding-left: 0;
    padding-right: 0;
}

footer {
    background: $url_8 top left repeat-x;
    width: 100%;
}

.menu_ngang_phu {
    height: 35px;
    background: $color_tarawera_approx;
    text-align: center;
    color: $white;
    padding-top: 7px;

    a {
        font: 700 14px $font_7;
        color: $white;
        margin: 0 15px;
    }
}

.footer {
    width: 1024px;
    margin: 0 auto;
    color: $white;
    padding: 15px 0 25px;
}

#login_section {
    width: 500px;

    .header_login {
        background: $color_tarawera_approx;
        text-align: center;
        color: $white;
        text-transform: uppercase;

        button {
            color: $white;
        }
    }

    .login_form {
        width: 353px;
        margin: 0 auto;
    }

    .description_login {
        padding: 10px 25px;
    }
}

.btn_hamtruyen {
    border: 1px solid $color_tarawera_approx;
    background: $color_tarawera_approx;
    color: $white;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .3s;
    text-transform: uppercase;
    padding: 10px 20px;
    white-space: nowrap;

    &:hover {
        border: 1px solid $color_rangoon_green_approx;
        background: $color_rangoon_green_approx;
        color: $white;
        text-transform: uppercase;
        padding: 10px 20px;
    }
    &.disabled{
        opacity:0.5;
        background:$black;
    }
}

.header_chap {
    background: $color_nile_blue_approx;
    height: 50px;
    border-bottom: solid 4px $black;

    .wrapper_header {
        width: 1042px;
        margin: 0 auto;
        color: $white;
        font: 700 16px $font_2;
        padding-top: 12px;

        a {
            font: 600 16pt $font_6;
            color: $white;
            margin: 0 15px;
        }

        h1 {
            font: 600 16pt $font_6;
            color: $white;
            display: inline;
            margin: 0 15px;
        }
    }
}

div {
    &.info_story_pintop {
        xwidth: 1042px;
        margin: 0 auto;
        background: $color_deep_teal_approx;
        height: 45px;

        .wrapper_listchuong {
            max-width: 400px;
            width: auto;

            select {
                max-width: 360px;
                height: 27px;
                margin-top: 8px;
            }
        }

        .wrapper_nextchap {
            width: 275px;
            margin-top: 12px;

            .btn_nextchap {
                background: $color_razzmatazz_approx;
                color: $white;
                padding: 10px;
                margin-right: 10px;
            }
        }

        .wrapper_content_like {
            margin-top: 12px;
            padding: 0;
        }

        .wrapper_baoloi {
            float: right;
            margin-top: 6px;
        }
    }

    &.info_story_user {
        xwidth: 1042px;
        margin: 0 auto;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
        background: $color_gray_nurse_approx;

        .info_story {
            margin-top: 15px;

            .link_truyen {
                font: 400 20pt $font_2;
                color: $color_deep_teal_approx;
            }

            ul {
                padding-left: 0;
                list-style-type: circle;

                li {
                    display: inline;
                    list-style-type: circle;
                    margin-right: 15px;
                }
            }
        }

        .info_user {
            padding: 15px;
            border-left: solid 2px $color_celeste_approx;
            margin: 0;

            .name {
                font-weight: 700;
                color: $color_dodger_blue_approx;
            }

            .chucvu {
                text-align: center;
                font-weight: 700;
                text-decoration: none;
                color: $color_bright_red_approx;
            }

            label {
                font: 400 13px $font_2;
                margin: 0;
                width: 100%;
            }

            span {
                color: $blaze_orange;
                font-weight: 700;
            }

            a.media-left:hover {
                text-decoration: none;
                color: $color_bright_red_approx;
            }
        }
    }

    &.content_chap {
        margin: 0 auto;
        padding-top: 15px;
        color: $white;

        img {
            width: 100%;
            margin: 10px auto 0;
            display: block;
            border: 10px solid $color_gray_nurse_approx;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 5px;
            max-width: 98%;
        }
    }

    &.comment {
        xwidth: 1042px;
        margin: 15px auto;
        background: $white;
    }

    &.alert {
        xwidth: 1042px;
        margin: 0 auto;
        background: $white;
        border: none;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
        padding: 10px;
    }
}

.media-body {
    display: table-cell;
    vertical-align: top;
}

.media-left {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}

.media-right {
    display: table-cell;
    vertical-align: top;
}

#top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-indent: -99999px;
    cursor: pointer;
}

.middle_doctruyen {
    background: $color_log_cabin_approx !important;
}

.form-horizontal {
    .form-group {
        margin: 15px 0;
    }

    input[type=email] {
        xwidth: 500px;
    }

    input[type=password] {
        xwidth: 500px;
    }

    input[type=text] {
        xwidth: 500px;
    }

    input {
        border: 1px solid $color_celeste_approx;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: none;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
    }

    input[type=checkbox] {
        @extend %extend_5;
    }

    input[type=radio] {
        @extend %extend_5;
    }
}

.btn_hamtruyen_small {
    height: 30px;
    vertical-align: middle;
    padding: 5px 20px;
    margin-left: 10px;
    border: 1px solid $color_tarawera_approx;
    background: $color_tarawera_approx;
    color: $white;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .3s;
    text-transform: uppercase;

    &:hover {
        background: $color_rangoon_green_approx;
    }
}

.textbox_imgage {
    margin-top: 5px;
    width: 120px !important;
    height: 30px;
}

#spCheckUser {
    font: 400 13px $font_6;
}

.wrapper_left_danhsach {
    padding-right: 0;
    width: 720px;
    padding-left: 15px;
}

.label_right {
    font: 400 15px $font_6;
    color: $white;
    float: right;
    margin-top: 9px;
    margin-right: 10px;

    a {
        color: $white;
        cursor: pointer;
        font-weight: 700;
    }
}

#list_kw {
    font: 400 19px $font_6;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    color: $color_mine_shaft_approx;

    a {
        color: $color_elephant_approx;
        margin: 5px;
        font: 700 21px $font_6;
        &.active{
            background: $color_log_cabin_approx;
            padding:1px 5px;
            color:$white;
        }
    }
}

.wrapper_list_trangthai {
    border: 1px solid $color_celeste_approx;
    padding: 5px;
    text-align: center;

    a {
        display: block;
        color: $color_mine_shaft_approx;
    }
}

.wrapper_right_danhsach {
    width: 330px;
    float: right;
}

.list_truyen_timkiem {
    width: 710px;
}

.user_left {
    max-width: 250px;

    .avatar {
        max-width: 100%;

        img {
            width: 100%;
        }
    }

    .user_info {
        margin-top: 20px;

        .title_name {
            background: $color_elephant_approx;
            color: $white;
            padding: 5px 10px;
        }

        .content {
            padding: 5px;
            border: 1px solid $color_alto_approx;
        }

        label {
            display: block;
            width: 100%;
            margin-bottom: 5px;
            font: 400 13px $font_6;

            span {
                color: $color_california_approx;
                font-weight: 700;
            }
        }

        ul {
            padding-left: 10px;
            list-style: none;
            padding-top: 5px;

            li a {
                color: $color_elephant_approx;
            }
        }
    }
}

.lstTruyentheodoi {
    h2 {
        margin-top: 0;
        font: 400 28px $font_1;
        color: $color_elephant_approx;
    }

    .truyentheodoi_header {
        font: 700 16px $font_6;
        color: $color_elephant_approx;
        margin-bottom: 15px;
    }

    .truyentheodoi_item {
        margin-bottom: 10px;

        a {
            color: $color_elephant_approx;
        }

        span.chuadoc {
            color: $color_california_approx;
        }
    }
}

.item_truyenhot_cungtheloai {
    width: 300px;
    border: 1px solid $color_celeste_approx;

    .wrapper_image {
        height: 200px;
        overflow: hidden;
        width: 300px;
        position: relative;

        img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .wrapper_info {
        padding: 10px;

        p {
            a {
                color: $color_allports_approx;

                &:hover {
                    text-decoration: none;
                }
            }

            span.text-bold {
                color: $color_mandy_approx;
                font: 700 22px $font_6;
            }
        }

        a.name {
            font: 700 20px $font_6;
            color: $color_allports_approx;
        }
    }
}

.purple_text {
    color: $color_blue_marguerite_approx;
    float: right;
    margin-left: 10px;
}

.background_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
    background: $black;
    opacity: .5;
}

#wrapper_qc_popup {
    overflow: hidden;
    position: fixed;
    background: $white;
    z-index: 102;
    color: $black;
    border: 4px solid $color_fuscous_gray_approx;
    text-align: left;
    top: 23%;
    left: 40%;
    width: 318px;
}

.ads_container {
    width: 360px;
    height: 280px;
    margin: -8px 0 0 -17px;
}

.ads_title {
    position: relative;
    background: $black;
    color: $white;
    padding: 10px;

    .tat_qc {
        position: absolute;
        right: 2px;
        top: 35px;
        font: 400 16px $font_2;
        cursor: pointer;
        color: $color_mine_shaft_approx;
    }
}

.truyen_moi_dang {
    height: 130px;
    overflow: hidden;
    width: 90px;
    position: relative;
    padding: 0;
    float: left;
    margin: 0 3px 5px;

    img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

#banner_float_left {
    position: fixed;
    top: 50px;
}

.title_close_ad {
    background: $color_cerulean_approx;
    color: $white;
    padding: 3px 5px;
    cursor: pointer;
}

.container_qc {
    width: 160px;
    overflow: hidden;
}

.fb-like {
    float: left;
    margin-right: 5px;
}

.stritext {
    font: 400 13px $font_2;
    color: $black;
    position: absolute;
    z-index: 2;
    left: 43%;
    top: 3px;
}

.btn-uploader {
    color: $white;
    background: $color_carnation_approx;
    border: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    padding: 6px;
    margin-top: 4px;
}

.btn-uploader_text {
    margin: 12px 10px 0 0;
    color: $color_rangoon_green_approx;

    &:hover {
        text-decoration: none;
    }
}

.notifcation_date {
    display: block;
    color: $color_storm_dust_approx;
}

.bubble {
    position: fixed;
    left: 47%;
    top: 40%;
    font: bold 40px $font_2;
    color: $color_azure_radiance_approx;
    opacity: 0;
}

#ad_float_right {
    position: absolute;
    top: 0;
    right: -125px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: .6s all;
}

.title_ad {
    background: $color_cerulean_approx;
    color: $white;
    padding: 3px;
    cursor: pointer;
}

#ad_float_left {
    position: fixed;
    top: 54px;
    left: 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: .6s all;
}

.div_comment_hamtruyen {
    margin: 0;
}

.khung_post_comment {
    background: $seashell;
    border: solid 1px $color_celeste_approx;

    .user_avatar {
        padding: 15px;
    }

    .comment_content {
        padding: 15px;
        width: 100%;

        span {
        }
    }
}

.comment_textbox {
    width: 100%;
    min-height: 83px;
}

.comment_item {
    background: $alabaster;
    padding: 10px;

    .comment_content {
        width: 100%;
    }

    .username {
        color: $color_pacific_blue_approx;
        font: bold 13px $font_2;
    }

    .danhhieu {
        font: normal 13px $font_2;
        color: $color_fuscous_gray_approx;
    }
}

.reply_thongso {
    font: normal 13px $font_2;
    margin-top: 10px;
    color: $color_tapa_approx;

    a {
        cursor: pointer;

        &:hover {
            color: $color_boston_blue_approx;
            text-decoration: underline;
        }
    }
}

#emo_lst {
    width: 485px;
    display: none;
    overflow: auto;
    position: absolute;
    background: $white;
    border: solid 1px $color_silver_chalice_approx;

    img {
        padding: 5px;
        cursor: pointer;
    }
}

.pager_content {
    cursor: pointer;
    background: $color_gallery_approx;
    padding: 10px;
    color: $color_storm_dust_approx;
    text-align: center;
    font: bold 14px $font_2;
}

.nomargin {
    margin-right: 0;
}

.div_img_gioithieu {
    width: 200px;
    overflow: hidden;
    float: left;
    max-height: 292px;

    img {
        width: 100%;
    }
}

.div_info_gioithieu {
    width: 515px;
    float: right;
}

.text_desc_gioithieu {
    text-align: justify;
}

.manga-name {
    font: 700 18px $font_7;
    color: $color_elephant_approx;
}

.manga-lastchap {
    font-size: 16px;
}

.qc_toptruyen {
    position: absolute;
    top: 0;
    z-index: 10;
    opacity: 0;
}

.row_theloai {
    a:after {
        content: ', ';
    }

    a[last-child]:after {
        content: '';
    }
}

a {
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: $color_fuchsia_pink_approx;
    }
}

#login-part .wrapper_dadangnhap {
    width: 235px;
    float: right;
    margin-top: 3px;

    .img_avatar {
        margin-right: 5px;
    }

    .wrapper_info_dangnhap {
        margin-right: 21px;
        margin-top: 4px;

        button {
            border: none;
            background: $white;
            color: $color_tarawera_approx;
            float: right;
            margin: 5px -20px 0 0;
        }
    }

    .notify_wrapper {
        margin-right: 35px;
        position: relative;

        button {
            border: none;
            display: block;
            margin: 5px -20px 0 0;

            span {
                position: absolute;
                top: -3px;
                right: -26px;
                background: $color_carnation_approx;
                color: $white;
                padding: 0 3px;
            }
        }

        ul {
            width: 480px;
            min-width: 220px;
            right: 0;
            left: inherit;

            li {
                padding: 5px 10px;
                font-size: 14px;

                a {
                    padding: 0;
                    display: inline;
                    white-space: normal;
                }
            }
        }
    }

    .storyfollow_wrapper {
        position: relative;

        button {
            border: none;
            float: right;
            margin: 5px -20px 0 0;

            span {
                position: absolute;
                top: -3px;
                right: -26px;
                background: $color_carnation_approx;
                color: $white;
                padding: 0 3px;
            }
        }

        ul {
            max-width: 300px;
            width: 250px;
            min-width: 220px;

            li {
                padding: 5px 10px;

                a {
                    padding: 0;
                    display: inline;
                }
            }
        }
    }
}

.manhua .centertext {
    background: $color_persian_green_approx;

    a.link_center {
        color: $color_thunderbird_approx;
    }
}

.manhwa .centertext {
    background: $color_ronchi_approx;

    a.link_center {
        color: $science_blue;
    }
}

.moicapnhat .centertext {
    background: $color_cerulean_approx;
    width: 630px;
    padding-top: 2px;
}

.row_content .item_truyennendoc {
    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.lst_truyen_moidang .item_truyennendoc {
    margin: 15px 4px 0;
    width: 134px;
}

.wrapper_theloai .wrapper_list_theloai {
    border: 1px solid $color_celeste_approx;
    padding: 5px;

    div {
        padding: 0;
    }

    a {
        padding: 5px;
        color: $color_mine_shaft_approx;
        text-overflow:ellipsis;
        overflow:hidden;
        &.current{
            background: $color_azure_radiance_approx;
            color: $white;
            font-weight: bolder;
        }
    }
}

.media > .pull-left {
    padding-right: 10px;
}

#type_hot span {
    width: 30%;
}

nav.pagerhamtruyen {
    text-align: center;
}

.info_user label a {
    color: $color_mine_shaft_approx;

    &:hover {
        text-decoration: none;
    }
}

.wrapper_list_danhmuc a {
    width: 23%;
    display: inline-block;
    text-align: center;
    color: $color_mine_shaft_approx;
    margin-top: 10px;

    &:hover {
        color: $color_fuchsia_pink_approx;
    }
}

#crsTruyenHotTrongNgay .item_truyennendoc {
    max-width: 134px;
    margin-right: 11px;
}

ul.nav-tabs li a {
    font-weight: bold;
    color: $color_mine_shaft_approx;
}

.manga-info a {
    display: inline-block;
    margin-right: 5px;
}

#qcBallonleft iframe {
    margin-left: -35px;
    margin-top: -10px;
}
.input-group-overwrite{
    padding-left:15px !important;
    padding-right:15px !important;
}
