<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="DDay.Update" type="DDay.Update.Configuration.DDayUpdateConfigurationSection, DDay.Update" />
    </configSections>

  <DDay.Update
      uri="file:///c:/Deployment/UpdateTest/UpdateTest.application"        
        automatic="true"
        notifier="DDay.Update.WPF.WPFUpdateNotifier, DDay.Update.WPF, Version=0.72.1.0, Culture=neutral, PublicKeyToken=null">
        <Preserve>
            <add name="p0"
                 value="*.config" />
        </Preserve>
        <Remove>
            <clear />
        </Remove>
    </DDay.Update>

    <log4net>
        <appender name="logfile" type="log4net.Appender.FileAppender">
            <file value="update-log.txt" />
            <appendToFile value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
            </layout>
        </appender>

        <root />
        <logger name="DDay.Update">
            <!--For full debugging information, set the following value to "DEBUG"-->
            <level value="DEBUG" />
            <appender-ref ref="logfile" />
        </logger>
    </log4net>
</configuration>
