<div class="row">
    <div class="col-md-8 wrapper_truyemoicapnhat">
        <div class="title_doctruyen manhua">
            <div class="bg leftbar1 fl"></div>
            <div class="centertext fl" style="width:655px;padding-top:3px;">
                Truyện thuộc thể loại {{genre | uppercase}}
                <a href="/danhsach/index.html" class="link_right">Xem thêm&gt;&gt;</a>
            </div>
            <div class="bg rightbar1 fl"></div>
        </div>
        <div class="lst_truyen_moidang">
            <cmapp-story-list [stories]="stories"></cmapp-story-list>
            <nav class="pagerhamtruyen">
                <pagination [totalItems]="totalItems" [itemsPerPage]="pageSize" [(ngModel)]="currentPage" [maxSize]="maxSize" (pageChanged)="pageChanged($event)" class="pagination-sm"
                            [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"></pagination>
            </nav>
        </div>
    </div>
    <div class="col-md-4 wrapper_qc">
        <cmapp-story-genres></cmapp-story-genres>
    </div>
</div>