<div class="row_content clearfix" *ngIf="stories">
    <div class="item_truyennendoc" *ngFor="#story of stories; #i=index">
        <div class="wrapper_imgage">
            <a (click)="viewStory(story)">
                <img u="image" [src]="story.CoverUrl" [attr.alt]="story.Name">
            </a>
            <a href="doc-truyen/tokimeichatte-gomen-ne-chapter-1.html" *ngIf="story.Chapters.length> 0">
                <h5 class="tenchap_slide">{{story.Chapters[story.Chapters.length -1].Name}}</h5>
            </a>
        </div>
        <a (click)="viewStory(story)">
            <h5 class="tentruyen_slide">{{story.Name}}</h5>
        </a>
    </div>
</div>