
                <!-- START GALLERY TRUYEN HOT AND BXH-->
<div id="wrapper_gallery_and_bxh" class="row" *ngIf="topStory">
    <div class="col-md-9">
        <div class="title_doctruyen moicapnhat clearfix">
            <div class="bg lefttbar3 fl"></div>
            <div class="centertext fl" style="width:655px;padding-top:3px;">
                Giới thiệu truyện
            </div>
            <div class="bg rightbar3 fl"></div>
        </div>
        <div class="mgtop10 clearfix">
            <div class="div_img_gioithieu">
                <a href="appleseed-1386.html">
                    <img src="{{topStory.CoverUrl}}" alt="{{topStory.Name}}" />
                </a>
            </div>

            <div class="div_info_gioithieu">

                <a class="manga-name" href="appleseed-1386.html">{{topStory.Name}}</a>
                <div class="manga-info mgtop10">
                    Cập nhật <a class="manga-lastchap" href="doc-truyen/appleseed-chapter-10-2.html">{{lastChapter.Name}}</a>
                </div>

                <div class="manga-info mgtop10">
                    <span class="glyphicon glyphicon-tags"></span>
                    <span> Thể loại: </span>
                    <a *ngFor="#cat of topStory.Categories" class="label label-primary manga-type" href="Theloai/549f819f1788b6107431bd23/shounen.html">{{cat}}</a>
                </div>

                <div class="manga-info mgtop10">
                    <div class="text_desc_gioithieu">
                        {{topStory.Summary}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="wrapper_bxh" class="col-md-3 mgtop10">
        <!--start bxh-->
        <div class="item_bxh old" *ngFor="#bxh of top10Stories; #i=index">
            <span class="stt stt" [ngClass]="classes[i]">{{i+1}}</span><a href="#" class="name_bxh">{{bxh.Name}}</a>
        </div>
        <!--end bxh-->
    </div>
</div>
<!-- END GALLERY TRUYEN HOT AND BXH-->